<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.name == null or page.name != "home" %} {{page.title}} | {% endif %}Patricio Palladino</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="RSS Feed" />
        <meta name="descrption" content="{{page.description}}">
        <script>
            var _gaq = [['_setAccount', 'UA-33871471-1'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            }(document, 'script'));
        </script>
    </head>
    <body>
        <div id="container" {% if page.name %} class="{{page.name}}" {% else %} class="post" {% endif %}>
            <h1>{{page.title}}</h1>
            {{content}}

            <div id="share">
                <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
                <script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=1"></script>
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            </div>

            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://github.com/alcuadrado">Github</a></li>
                <li><a class="email" href="http://www.google.com/recaptcha/mailhide/d?k=015jNyUwb5krY_855ESlq8vg==&amp;c=JamIaqZXM7GDH5d4QGYtFcW5CpWDn9GvvYWek28MRwQ=">email</a></li>
            </ul>

        </div>

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/js/trianglify.min.js"></script>
        <script>
            var t = new Trianglify({noiseIntensity: 0});
            var pattern;
            if (document.body.parentNode.offsetHeight == 0) {
                pattern = t.generate(window.innerWidth, window.innerHeight);
            } else {
                pattern = t.generate(document.body.parentNode.offsetHeight, document.body.parentNode.offsetHeight);
            }
            document.body.parentNode.setAttribute('style', 'background-image: '+pattern.dataUrl);
        </script>


        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script>
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.src = '//hnbutton.appspot.com/static/hn.js';
                s.parentNode.insertBefore(g, s);
            }(document, 'script'));
        </script>
        <script src="/js/email.h.js"></script>
    </body>
</html>
